@model BookFormModel

@{
    ViewData["Title"] = "Add Book | ";
}

<h2>Add Book</h2>

<form method="post">
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" placeholder="Enter title">
        <span asp-validation-for="Title" class="small text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Author"></label>
        <select asp-for="Author" class="form-control mdb-select md-form" searchable="Currently available authors">
            @foreach (var author in Model.Authors)
	        {
                <option>@author</option>
	        }
        </select>
    </div>
    <div class="form-group">
        <label asp-for="BookGenres"></label>
        <select asp-for="BookGenres" multiple class="form-control">
            @foreach (var genre in Model.Genres)
            {
                <option>@genre</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label asp-for="YearPublished"></label>
        <input asp-for="YearPublished" class="form-control" placeholder="yyyy">
        <span asp-validation-for="YearPublished" class="small text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Pages"></label>
        <input asp-for="Pages" class="form-control">
        <span asp-validation-for="Pages" class="small text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control" rows="3"></textarea>
        <span asp-validation-for="Description" class="small text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CoverUrl"></label>
        <input asp-for="CoverUrl" class="form-control" placeholder="Photo URL">
        <span asp-validation-for="CoverUrl" class="small text-danger"></span>
    </div>
    <button type="submit" class="btn btn-dark">Submit</button>
</form>
